/*--------------------------
Utilities & Global Styles
--------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    padding: 0 10%;
}





/*--------------------------
Navigation-Bar Styles
--------------------------*/
#nav-section{
    background: #2D25A0;
    padding: 40px 0;
}
nav{
    background: #2D25A0;
    color: white;
    display: flex;
    justify-content: space-between;
}
#navigation a{
    color: white;
    padding-right: 30px;
}





/*--------------------------
Showcase Section Styles
--------------------------*/
#showcase{
    padding-top: 10px;
    padding-bottom: 85px;
    background: #2D25A0;
    color: white;
    display: flex;
    justify-content: space-between;
}
.showcase-box{
    width: 45%;
}
.showcase-box h1{
    font-size: 64px;
    line-height: 80px;
    margin-top: 80px;
    margin-bottom: 30px;
}
.btn{
    width: 170px;
    height: 45px;
    padding: 10px 25px ;
    background: #E02C6D;
    color: white;
    font-size: 16px;
}
.showcase-box img{
    width: 100%;
}





/*--------------------------
Players Section Styles
--------------------------*/
#players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-top: 70px;
}
.player-card{
    padding: 15px;
    box-shadow: 0px 0px 40px hsla(0, 0%, 0%, 0.15);
}
.player-card img{
    width: 100%;
}
.player-card h2{
    font-size: 28px;
    margin: 16px 0 10px 0;
}
.player-card p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}





/*--------------------------
Showcase Section Styles
--------------------------*/
#highlight{
    padding-top: 120px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.highlight-box{
    padding-top: 30px;
}
#highlight-txt{
    padding-right: 10%;
}
.highlight-box h1{
    font-size: 30px;
}
.highlight-box h3{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 5px;
}
.highlight-box p{
    color: #6C6C6C;
    font-size: 13px;
    font-weight: 400px;
    margin: 20px 0 50px 0;
}




/*--------------------------
Fixers Section Styles
--------------------------*/
#fixers{
    padding-top: 50px;
}
#fixers h1{
    margin: 30px 0;
    font-size: 30px;
    word-spacing: 15px;
}
.fixer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.fixer-box{
    box-shadow: 0px 0px 40px hsla(0, 0%, 0%, 0.15);
    padding: 20px;
    border-radius: 10px;
}
.fixer-box h3{
    font-weight: 500;
    font-size: 15px;
    margin: 10px 0;
    opacity: .5;
    color: #E02C6D;
}
#live-now{
    color: red;
    opacity: 1;
}
.fixer-box h3 i{
    margin-right: 10px;
}
.fixer-box h2{
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
}
.fixer-box h2 span{
    font-weight: 500;
    font-size: 18px;
    margin: 0 5px;
}
.fixer-box>p{
    margin: 20px 0 10px 0;
    font-weight: 400;
    font-size: 13px;
}
.fixer-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #E02C6D;
    opacity: .5;
}





/*--------------------------
News Section Styles
--------------------------*/
#news{
    padding-top: 80px;
    margin-bottom: 80px;
}
#news h1{
    margin: 30px 0;
    font-size: 30px;
    word-spacing: 15px;
}
#articles{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.news-box{
    display: flex;
    box-shadow: 0px 0px 40px hsla(0, 0%, 0%, 0.15);
    border-radius: 10px;
    overflow: hidden;
}
.article-box{
    width: 50%;
    height: 200px;
    overflow: hidden;
}
.news-box img{
    height: 100%;
}
.article-text{
    padding: 10px;
    padding-left: 30px;
}
.article-box h2{
    font-size: 18px;
}
.article-box p{
    font-size: 12px;
    line-height: 15px;
    margin: 10px 10px 20px 0;
}
.article-box .btn{
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #969BAB;
    height: 25px;
    width: 80px;
}
.article-link{
    display: flex;
}
.article-link a{
    display: block;

}
.share{
    margin-left: 45%;
    color: #969BAB;
}





/*--------------------------
Sponsor Section Styles
--------------------------*/
#sponsors{
    width: 80%;
    margin: 80px auto;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 40px hsla(0, 0%, 0%, 0.15);
    opacity: .5;
}
#sponsors h1{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin: 30px 0;
}
#sponsor-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
}
.sponsor-box img{
    width: 70%;
    margin: 30px 15%;
}





/*--------------------------
Footer Section Styles
--------------------------*/
footer{
    text-align: center;
    padding: 30px 0;
    box-shadow: 0px 0px 40px hsla(0, 0%, 0%, 0.15);
}
.foo-box{
    margin: 0px auto 0 auto;
    width: 30%;
}
.foo-box img{
    width: 100%;
}
.foo-box i{
    background: hsla(230, 35%, 7%, 0.1);
    color: #969BAB;
    height: 32px;
    width: 32px;
    font-size: 17px;
    padding: 7px;
    margin: 0 7px 10px 7px;
    border-radius: 16px;
}
.foo-box p{
    font-size: 18px;
}





@media only screen and (max-width: 992px){
    #nav-section{
        display: none;
    }


    /* showcase section  */
    #showcase{
        flex-direction: column;
    }
    .showcase-box{
        width: 100%;
    }
    .showcase-box img{
        margin-top: 50px;
        width: 100%;
    }


    /* players section  */
    #players{
        grid-template-columns: repeat(2, 1fr);
    }


    /* highlight section  */
    #highlight{
        flex-direction: column;
        align-items: center;
    }


    /* fixer section  */
    .fixer-container{
        grid-template-columns: repeat(2, 1fr);
    }


    /* news section  */
    #articles{
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    .article-box h2{
        font-size: 20px;
    }
    .article-box p{
        font-size: 14px;
        line-height: 15px;
        margin: 10px 10px 20px 0;
    }
}



@media only screen and (max-width: 688px){
    #nav-section{
        display: none;
    }


    /* showcase section  */
    .showcase-box h1{
        font-size: 40px;
    }

    /* players section  */
    #players{
        grid-template-columns: 1fr;
    }


    /* highlight section  */


    /* fixer section  */
    .fixer-container{
        grid-template-columns: 1fr;
    }


    /* news section  */
    
    .news-box{
        flex-direction: column;
        padding-bottom: 20px;
    } 
    .article-box{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .news-box img{
        height: auto;
        width: 100%;
    }
    .share{
        margin-left: 65%;
        color: #969BAB;
    }
    #sponsors h1{
        font-size: 15px;
    }
    .foo-box{
        width: 55%;
    }
    .foo-box i{
        font-size: 18px;
        padding: 6px;
        margin: 7px;
    }
}